
.container{

  display: flex;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: .8em;
  align-items: center;
  margin-bottom: 1em;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10em;    
    margin-bottom: 1em; */
  }

  .container-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: .8em;    
    margin-bottom: 1em;  
  }

  .container-center article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    object-fit: cover;
  }

  .container-center article img{
    width: 200px;
    height: 200px;
    max-height: 200px;
    object-fit: cover;
  }

  .container-center article a{
    text-decoration: none;
    color: #fff;
    background-color: #004984;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .container-center article a:hover{
    opacity: 1;
    transform: scale(1.2);
  }
/* 
  .container-center div img{
    width: 200px;
    height: 200px;
     margin: 60px; 
    padding: 10px;
    /* border: 1px;
    border-radius: 10px;
    object-fit: cover;
    transition: .3s;
  }

  .container-center div img:hover{
    opacity: 1;
    transform: scale(1.4);
  } */ 
  
  /* .label-avatar{
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  
  } */
  
  /* .label-avatar input{
    display: none;
  }
  
  .label-avatar span{
    z-index: 99;
    position: absolute;
    opacity: 0.7;
    transition: all .5s;
  }
  
  .label-avatar span:hover{
    opacity: 1;
    transform: scale(1.4);
  }
  
  .form-profile img{
    margin-bottom: 1em;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .form-profile label{
    margin-bottom: .5em;
    font-size: 1.4em;
  }
  
  .form-profile input, textarea, select{    
    margin-bottom: 1em;
    padding: .7em;
    border:0;
    border-radius: 5px;
    max-width: 600px;
  }
  
  .form-profile input:disabled{
    cursor: not-allowed;
  }
  
  .form-profile button{
    max-width: 600px;
  }
  
  .logout-btn{
    padding: 8px 20px;
    background-color: transparent;
    border:1px solid #121212;
    border-radius: 5px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  } */