.container-email-index {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;  
width: 100%;  
padding-right: var(--bs-gutter-x, 0.5rem);
padding-left: var(--bs-gutter-x, 0.5rem);
margin-right: auto;
margin-left: auto;
background-color: #f8f8f8;
border-radius: 5px;  
float: left;
position: relative;
padding-bottom: 130px;
text-align: center;
overflow: hidden;
}

form {
font: 13px Verdana, Arial, Helvetica, sans-serif;
width: 100%; 
padding-right: var(--bs-gutter-x, 0.5rem);
padding-left: var(--bs-gutter-x, 0.5rem);
margin-right: 0;
margin-left: 0;
/* border-color: 7px solid red; */
overflow: hidden;
}
.componet-border{
width: 100%;
height: 370px;
border: solid 1px #004984;
border-radius: 5px;
background-color: #004984;
margin-top: 0;
overflow: hidden;
margin-top: 20px;
}
.grid-top{
margin-top: 0;
padding: 0;
width: 100%;
height: 93px;
/* background-color: aqua; */

text-align: center !important;
color: #004984;
overflow: hidden;
}

.comp-lab-inp{
width: 50%;
height: 80%;
border: grey;
/* background: red; */
float: left;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 55px;
padding-bottom: 150px;
overflow: hidden;
}
.comp-msn-textarea{
width: 50%;
height: 80%;
/* background-color: green; */
float: right;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 30px;
padding-bottom: 50px;
overflow: hidden;
}

.all {
display: block;
margin: 10px 15px;
width: 98%;
/* height: 100px; */
padding: 5px;
margin: 10px;
float: left;
position: relative;
/* background: yellow; */
margin-bottom: -20px;
overflow: hidden;
}

label {
text-align: left;
font-size: 20px;
font-family: sans-serif, Roboto;
font-weight: bold;
color: #FFF;
display: block;
float: left;
text-transform: capitalize;
width: 345px;
padding: 5px;
overflow: hidden;
}
/* label input{
margin-left: 0;
float: left;
} */


input, textarea {
background: #fff;
border: 1px solid #686868;
color: #4a4a4a;
font: 13px Verdana, Arial, Helvetica, sans-serfi;
height: 30px;
padding: 0 5px;
width: 100%;
height: 60px;
border-radius: 5px;
overflow: hidden;
}

textarea {
width: 100%;
height: 240px;
padding: 5px;
resize: none;
display: inline-block;
border-radius: 5px;
} 

.msn {
display: block;	
width: 98%;
height: 320px;
float: right;
margin: 10px;
/* background: royalblue; */
padding: 5px;
padding-top: 45px;
}

input[type=submit] {
width: 500px;
background: #004984;
border: 1px solid;
color: #fff;
cursor: pointer;
font: 13px Verdana, Roboto, Arial, Helvetica, sans-serfi;
margin: 10px 0 15px 15px;
padding: 5px 10px;
float: none;
justify-content: center;
align-items: center;
border-radius: 5px;
font-size: 25px;
font-weight: bold;
}

input[type=submit] {
width: 200px;
height: 50px;
background: #004984;
border: 1px solid;
color: #fff;
cursor: pointer;
font: 13px Verdana, Roboto, Arial, Helvetica, sans-serfi;
margin: 10px 0 15px 15px;
padding: 5px 10px;
float: none;
justify-content: center;
align-items: center;
border-radius: 5px;
font-size: 20px;
font-weight: bold;
}

textarea {
width: 100%;
height: 200px;
padding: 5px;
resize: none;
display: inline-block;
border-radius: 5px;
} 

input, textarea {
background: #fff;
border: 1px solid #686868;
color: #4a4a4a;
font: 13px Verdana, Arial, Helvetica, sans-serfi;
padding: 0 5px;        
border-radius: 5px;
overflow: hidden;
}
input{
  height: 40px;
}
label {
  text-align: left;
  font-size: 16px;
  font-family: sans-serif, Roboto;
  font-weight: bold;
  color: #FFF;
  display: block;
  float: left;
  text-transform: capitalize;
  width: 345px;
  padding: 5px;
  overflow: hidden;
  }

  .comp-lab-inp{              
    border: grey;            
    float: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 100px;
    overflow: hidden;
  }
  .comp-msn-textarea{            
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;              
    padding-top: 15px;
    padding-bottom: 50px;
    overflow: hidden;
  }
  .componet-border{
    width: 100%;
    height: 285px;
    border: solid 1px #004984;
    border-radius: 5px;
    background-color: #004984;
    margin-top: 0;
    overflow: hidden;
    margin-top: 20px;
  }
@media screen and (max-width: 600px){
  /* .container-email-index{
    /* background-color: black; */

    .container-email-index {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
      width: 100%;  
      padding-right: var(--bs-gutter-x, 0.5rem);
      padding-left: var(--bs-gutter-x, 0.5rem);
      margin-right: auto;
      margin-left: auto;
      background-color: #f8f8f8;
      border-radius: 5px;  
      float: left;
      position: relative;
      padding-bottom: 130px;
      text-align: center;
      overflow: hidden;
      /* background-color: aqua; */
    }
    
    form {
      font: 13px Verdana, Arial, Helvetica, sans-serif;
      width: 100%; 
      padding-right: var(--bs-gutter-x, 0.5rem);
      padding-left: var(--bs-gutter-x, 0.5rem);
      margin-right: 0;
      margin-left: 0;
      /* border-color: 7px solid red; */
      overflow: hidden;
      }
      .componet-border{
        width: 100%;
        height: 370px;
        border: solid 1px #004984;
        border-radius: 5px;
        background-color: #004984;
        margin-top: 0;
        overflow: hidden;
        margin-top: 10px;
      }
      .grid-top{
        margin-top: 0;
        padding: 0;
        width: 100%;
        height: 93px;
        /* background-color: aqua; */    
        text-align: center !important;
        color: #004984;
        overflow: hidden;
      }
    
      .comp-lab-inp{
        width: 100%;
        height: 50%;
        border: grey;
        /* background: red; */
        /* float: left; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 55px;
        padding-bottom: 150px;
        display: block;
        
        /* overflow: hidden; */
      }
      .comp-msn-textarea{
        width: 100%;
        height: 50%;
        /* background-color: green; */
        /* float: right; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 50px;
        overflow: hidden;
      }
      
      .all {
      display: block;
      margin: 10px 15px;
      width: 90%;
      /* height: 100px; */
      padding: 5px;
      margin: 10px;
      float: left;
      position: relative;
      /* background: yellow; */
      margin-bottom: -20px;
      padding-top: 0;
      padding-bottom: 10px;
      /* overflow: hidden; */
      }
      
      label {
      text-align: left;
      font-size: 20px;
      font-family: sans-serif, Roboto;
      font-weight: bold;
      color: #FFF;
      display: block;
      float: left;
      text-transform: capitalize;
      width: 345px;
      padding: 5px;
      overflow: hidden;
      }
      /* label input{
        margin-left: 0;
        float: left;
      } */
      
      
      input, textarea {
      background: #fff;
      border: 1px solid #686868;
      color: #4a4a4a;
      font: 13px Verdana, Arial, Helvetica, sans-serfi;
      height: 30px;
      padding: 0 5px;
      width: 100%;
      height: 60px;
      border-radius: 5px;
      overflow: hidden;
      }
      
      textarea {
      width: 100%;
      height: 240px;
      padding: 5px 5px;
      resize: none;
      display: inline-block;
      border-radius: 5px;
      } 
      
      .msn {
      display: block;	
      width: 98%;
      height: 320px;
      float: right;
      margin: 10px;
      /* background: royalblue; */
      padding: 5px;
      padding-top: 45px;
      }
      
      input[type=submit] {
      width: 500px;
      background: #004984;
      border: 1px solid;
      color: #fff;
      cursor: pointer;
      font: 13px Verdana, Roboto, Arial, Helvetica, sans-serfi;
      margin: 10px 0 15px 15px;
      padding: 5px 10px;
      float: none;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      font-size: 25px;
      font-weight: bold;
      }
    
        input[type=submit] {
          width: 60%;
          /* height: 50px; */
          background: #004984;
          border: 1px solid;
          color: #fff;
          cursor: pointer;
          font: 13px Verdana, Roboto, Arial, Helvetica, sans-serfi;
          margin: 10px 0 15px 15px;
          padding: 5px 10px;
          float: none;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          font-size: 20px;
          font-weight: bold;
          }
    
          textarea {
            width: 100%;
            height: 120px;
            padding: 5px;
            resize: none;
            display: inline-block;
            border-radius: 5px;
            margin-bottom: 5px;
            } 
    
            input, textarea {
              background: #fff;
              border: 1px solid #686868;
              color: #4a4a4a;
              font: 10px Verdana, Arial, Helvetica, sans-serfi;
              padding: 0 5px;        
              border-radius: 5px;
              overflow: hidden;
              }
              input{
                height: 40px;
                width: 100%;
              }
              label {
                text-align: left;
                font-size: 12px;
                font-family: sans-serif, Roboto;
                font-weight: bold;
                color: #FFF;
                display: block;
                float: left;
                text-transform: capitalize;
                width: 345px;
                padding: 2px;
                overflow: hidden;
                }
    
                .comp-lab-inp{              
                  border: grey;            
                  float: left;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  padding-top: 0;
                  padding-bottom: 100px;
                  overflow: hidden;
                }
                .comp-msn-textarea{            
                  float: right;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;              
                  padding-top: 15px;
                  padding-bottom: 50px;
                  overflow: hidden;
                }
                .componet-border{
                  width: 100%;
                  height: 285px;
                  border: solid 1px #004984;
                  border-radius: 5px;
                  background-color: #004984;
                  margin-top: 0;
                  overflow: hidden;
                  margin-top: 20px;
                }
  } 